body {
    font-family: Arial,
        Helvetica,
        sans-serif;
}


.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin: 0;
    grid-template-areas:
        "header"
        "navigation"
        "main";

}

.bell,
hr,
.profile-picture img,
.student-name {
    margin-right: 10px;
}

.notifications {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #7477BF;
    color: white;
    grid-area: "header";
}

h1 {
    flex-grow: 1;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.profile-picture img {
    border-radius: 50%;
    width: 50px;
    display: block;
}

h3 {
    padding: 0;
    margin: 0;
}

.student-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.main {
    display: grid;
}


.sidebar {
    display: flex;
    grid-area: "navigation";
    flex-direction: row;
    background-color: #4D4C72;
    gap: 50px;
    justify-content: center;
    padding: 15px;

}

.home {}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: "header header"
            "navigation main";
    }

    .header {

        display: grid;
    }

    .main {
        grid-template-columns: 50%;

    }

    .sidebar {
        flex-direction: column;
    }

}