body {
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --theme-color: #7477BF;
    --placeholder-color: #CCC;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin: 0;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

.header {
    display: flex;
    flex-direction: row;
    background-color: var(--theme-color);
    color: white;
    grid-area: "header";
    gap: 10px;
    height: 50px;
    padding: 0 10px;
}

h1 {
    flex-grow: 1;
    font-weight: 400;
    font-size: medium;
}

.bell {
    position: relative;
    size: 10px;
}

.notifications {
    position: absolute;
    top: 8px;
    right: -3px;
    border-radius: 50%;
    background: rgb(128, 226, 128);
    color: white;
    height: 5px;
    width: 5px;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.profile-picture img {
    border-radius: 50%;
    width: 30px;
    display: block;
}


.student-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-weight: 300;
    font-size: 10px;
    margin: 0px;
}

.sidebar {
    display: flex;
    grid-area: "navigation";
    flex-direction: row;
    background-color: #4D4C72;
    gap: 50px;
    justify-content: center;
    height: 50px;
    padding: 0 25px;
}

svg {
    fill: white;
}

main {
    grid-area: "main";
}

main>section {
    padding: 10px;
    border-bottom: 1px solid black;
    padding-top: 0;
}

.main-header {

    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
}

.headline {
    font-weight: 400;
    font-size: medium;
    padding-left: 10px;
}

.tab {
    border: 1px solid rgb(235, 229, 229);
    flex-grow: 1;
    background-color: #F7F7F7;
}

h3 {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}

.traffic-nav {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0 20px;
    margin: 0;
}

.type-of-device {
    list-style-type: none;
}

.social-stats {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.social-stats>li {
    list-style-type: none;
    display: grid;
    border: 1px solid var(--placeholder-color);
    background-color: #F5F5F5;
    border-radius: 5px;
    grid-template-columns: 80px 1fr;
    align-items: center;
    height: 80px;
}

.social-icon {
    background-color: var(--theme-color);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    justify-self: center;
}

.social-icon>svg {
    left: 15px;
    top: 15px;
    position: absolute;
}

h4 {
    color: var(--theme-color);
    margin: 0;
    font-weight: 600;
    font-size: smaller;
}

.social-text {
    margin: 0;
}

.social-text>p {
    font-size: 26px;
    margin: 0;
    color: #777777;
}

.profile-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
}

.member-info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: center;
}

.member-info p {
    margin: 0;
}

.member-contact {
    flex-grow: 1;
}

.recent-activity {
    display: flex;
    flex-direction: column;
}

.members-comment {
    font-size: 12px;
    text-align: center;
    padding: 0 20px;
}

.members-comment p {
    margin: 0;

}

.widget-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-feild,
.form-area {
    border: 1px solid var(--placeholder-color);
    background-color: #F5F5F5;
    border-radius: 5px;
    padding: 10px;
    text-transform: capitalize;
}

.button-primary {
    text-transform: uppercase;
    padding: 15px;
    background-color: var(--theme-color);
    color: white;
    border: 1px solid var(--placeholder-color);
    border-radius: 5px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--placeholder-color);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--placeholder-color);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--placeholder-color);
}


@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: "header header"
            "navigation main";
    }

    .header {

        display: grid;

    }

    .main {
        grid-template-columns: 50%;

    }

    .sidebar {
        flex-direction: column;
    }

    .member-info {
        flex-direction: row;
    }

    .members-comment {
        flex-direction: row;
    }

    .recent-activity {
        flex-direction: row;
    }
}