body {
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --theme-color: #7477BF;
    --placeholder-color: #CCC;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    margin: 0;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

.header {
    display: flex;
    flex-direction: row;
    background-color: var(--theme-color);
    color: white;
    grid-area: header;
    gap: 10px;
    height: 50px;
    padding: 0 10px;
}

h1 {
    flex-grow: 1;
    font-weight: 400;
    font-size: medium;
}

.bell {
    position: relative;
    size: 10px;
}

.notifications {
    position: absolute;
    top: 8px;
    right: -3px;
    border-radius: 50%;
    background: rgb(128, 226, 128);
    color: white;
    height: 5px;
    width: 5px;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.profile-picture img {
    border-radius: 50%;
    width: 30px;
    display: block;
}


.student-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-weight: 300;
    font-size: 10px;
    margin: 0px;
}

.sidebar {
    display: flex;
    grid-area: navigation;
    flex-direction: row;
    background-color: #4D4C72;
    justify-content: center;
    gap: 20px;
    height: 50px;
}

.sidebar>svg {
    width: 30px;
}

svg {
    fill: white;
}

.alert-banner {
    border: 1px solid var(--theme-color);
    background-color: var(--theme-color);
    color: white;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
}

.alert-banner-close {
    width: 20px;
}

.alert-banner-message {
    flex-grow: 1;
    padding-left: 10px;
}

.alert-banner>div {
    margin: 10px 0;
}

main {
    grid-area: main;
    display: grid;
}

main>section {
    padding: 10px;
    border-bottom: 1px solid black;
    padding-top: 0;
}

.main-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    width: 100vw;
}

.headline {
    font-weight: 400;
    font-size: medium;
    padding-left: 10px;
}

.tab {
    border: 1px solid rgb(235, 229, 229);
    flex-grow: 1;
    background-color: #F7F7F7;
}

h3 {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}

.traffic-nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: start;
    margin: 0;
}

.traffic-nav-active-link {
    border: 1px solid #81C98F;
    border-radius: 25px;
    background-color: #81C98F;
    color: white;
    width: 50px;
    height: 100%;
    padding: 5px 5px 0px;

}

.type-of-device {
    list-style-type: none;
}

.social-stats {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.social-stats>li {
    list-style-type: none;
    display: grid;
    border: 1px solid var(--placeholder-color);
    background-color: #F5F5F5;
    border-radius: 5px;
    grid-template-columns: 80px 1fr;
    align-items: center;
    height: 80px;
}

.social-icon {
    background-color: var(--theme-color);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    justify-self: center;
}

.social-icon>svg {
    left: 15px;
    top: 15px;
    position: absolute;
}

h4 {
    color: var(--theme-color);
    margin: 0;
    font-weight: 600;
    font-size: smaller;
}

.social-text {
    margin: 0;
}

.social-text>p {
    font-size: 26px;
    margin: 0;
    color: #777777;
}

.profile-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
}

.member-info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: center;
}

.member-info p {
    margin: 0;
}

.member-contact {
    flex-grow: 1;
}

.recent-activity {
    display: flex;
    flex-direction: column;
}

.members-comment {
    font-size: 12px;
    text-align: center;
    padding: 0 20px;
}

.members-comment p {
    margin: 0;

}

.widget-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-field,
.form-area {
    border: 1px solid var(--placeholder-color);
    background-color: #F5F5F5;
    color: var(--placeholder-color);
    border-radius: 5px;
    padding: 10px;
    text-transform: capitalize;
}


::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--placeholder-color);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--placeholder-color);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--placeholder-color);
}

.settings-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settings {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.switch-setting p {
    margin: 0;
    width: 250px;
}

.switch-setting {
    display: flex;
}


select {
    width: 100%;
}


/*the new PART TEST*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid lightgray;
    line-height: 30px;
    font-size: small;
    padding-left: 6px;
    color: white;
}

.slider:before {
    position: absolute;
    content: "";
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--theme-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px gray;
}

input:checked+.slider:before {
    -webkit-transform: translateX(44px);
    -ms-transform: translateX(44px);
    transform: translateX(44px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    top: 4px;
    width: 22px;
    height: 22px;
}






.setting-button {
    display: flex;
    gap: 10px;
}

.setting-button>* {
    flex-basis: 0;
    flex-grow: 1;
}

.button-primary {
    text-transform: uppercase;
    background-color: var(--theme-color);
    color: white;
    border: 1px solid var(--placeholder-color);
    border-radius: 5px;
    height: 40px;
}

.button-disabled {
    border: 1px solid var(--placeholder-color);
    text-transform: uppercase;
    color: white;
    background-color: #999999;
    border-radius: 5px;
    height: 40px;
}


@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas:
            "header header"
            "navigation main";
    }

    .main {
        grid-template-columns: 50%;
    }

    .sidebar {
        flex-direction: column;
        justify-content: start;
        height: 100%;
    }

    .sidebar>svg {
        height: 30px;
        width: auto;
        padding-top: 20px;
    }


    .traffic-header {
        display: flex;
        flex-direction: row;
    }

    .traffic-nav {
        padding: 10px;
    }

    h3 {
        flex-grow: 1;
    }

    .social-stats {
        flex-direction: row;
    }

    .social-stats li {
        flex-grow: 1;
    }

    .social-text p {
        font-size: 28px;
    }

    .social-icon {
        display: flex;
        justify-content: center;
    }

    .member-info {
        flex-direction: row;
        text-align: start;
        gap: 10px;
    }

    .member-contact {
        padding: 10px;
    }

    .member-contact a {
        text-decoration: none;
    }

    .members-comment {
        flex-direction: row;
        text-align: start;
        padding: 10px;
    }

    .recent-activity {
        flex-direction: row;
    }

    .profile-image {
        margin: 0;
    }
}

@media (min-width:1024px) {

    .daily,
    .members,
    .message {
        grid-column: 1 / span 1;
    }

    .mobile,
    .activity,
    .settings {
        grid-column: 2/ span 1;
    }

    .traffic,
    .social-container {

        grid-column: 1 /span 2;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }
}